nav {
    font-family: Montserrat;
    letter-spacing: 1px;
    font-size: 20px;
}

.bottom-nav > * {
    color: #BDBDBD;
    background: #2b2d2f;
    font-weight: bold;
    font-family: Montserrat;

}

.bottom-nav > *.active {
    outline: 0;
    color: #fff;
    background-color: #00BFA5;
    border-color: #00BFA5;
}

.bottom-nav > *:hover {
    outline: 0;
    color: #fff;
}

.wrapper {
    font-family: Montserrat;

}

.wrapper > * {
    background-color: #BDBDBD;
    color: #ECEFF1;
    margin: 2%;
    border-radius: 30px;
    padding: 0.5%;

}

.wrapper > * > span > p {
    font-family: Roboto;

}

html {
    overflow-y: visible;
}

a:hover {
    text-decoration: none;
}

.display > .dp {
    margin-top: 5%;
    top: 15%;
    left: 40%;
    position: relative;


    -webkit-animation-duration: 2.5s;

}

.display > .icons {
    top: 25%;
    left: 40%;
    position: absolute;
}

.icon-tags {
    width: 70px;
    height: 70px;
    padding: 0.4%;
    position: absolute;
    margin-left: -40px;
    opacity: 1;
    margin-top: -2%;
    border-radius: 10px;
    /*transform: rotate(315deg);*/
}

.icon-links {
    position: relative;
    margin-left: 45%;
}

.icon-links > a {
    position: absolute;
    top: 50%;
}

body {
    background-color: #607D8B;

}