
.submit-feedback:hover {
    color: #2b2d2f;
}

nav {
    
    letter-spacing: 1px;
    font-size: 20px;
}

.bottom-nav > ul > li > a {
    color: #BDBDBD;

    font-weight: bold;

}

.bottom-nav > ul > li.active {
    outline: 0;
    color: #f0f0f0;

}

.bottom-nav > ul > li > a:hover {
    outline: 0;
    color: #fff;
}



.wrapper > * {
    background-color: rgba(189, 189, 189, 0.71);
    color: #ECEFF1;
    margin: 2%;
    border-radius: 30px;
    padding: 0.5%;

}

.wrapper > #feedback {
    background-color: transparent;
    color: #ECEFF1;
}



html {
    overflow-y: visible;
    overflow-x: hidden;
    

}

a:hover {
    text-decoration: none;
}

.display > .dp {

    position: relative;
    width: 25%;
    height: auto;
    -webkit-animation-duration: 4.5s;

}

.icon-tags {
    width: 65px;
    height: 65px;
    padding: 0.4%;
    position: absolute;
    margin-left: -40px;
    opacity: 1;
    margin-top: -2%;
    border-radius: 10px;
    /*transform: rotate(315deg);*/
}

.icon-links {
    position: relative;
    margin-left: 10%;
}

.display > .row > a {
    color: #E0E0E0;
    font-weight: bold;
    

}

.display > .row > a:hover {
    color: #f0f0f0;

}

body {
    background-color: #607D8B;

}

.text-custom {
    color: #607D8B;
    
}

.text-custom2 {
    color: #fff;
    
}
.text-white {
    color: #fff;
    
}

*,html { 
    font-family: Lato;
    color: #fff;
    

}

/*
Chips
*/

.chip {
    display: inline-block;

    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #e4e4e4;
    margin-bottom: 5px;
    margin-right: 5px
}

.chip img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%
}

.chip .close {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px
}

input.form-control, textarea.form-control {
    background: #f0f0f0;

}

input.form-control:focus, textarea.form-control:focus {

    background: #f0f0f0;
}
