nav {
    font-family: Montserrat;
    letter-spacing: 1px;
    font-size: 20px;
}

.bottom-nav > ul > li > a {
    color: #BDBDBD;

    font-weight: bold;
    font-family: Montserrat;

}

.bottom-nav > ul > li.active {
    outline: 0;
    color: #f0f0f0;

}

.bottom-nav > ul > li > a:hover {
    outline: 0;
    color: #fff;
}

.wrapper {
    font-family: Montserrat;

}

.wrapper > * {
    background-color: #BDBDBD;
    color: #ECEFF1;
    margin: 2%;
    border-radius: 30px;
    padding: 0.5%;

}

.wrapper > * > span > p {
    font-family: Roboto;

}

html {
    overflow-y: visible;
    overflow-x: hidden;
}

a:hover {
    text-decoration: none;
}

.display > .dp {

    position: relative;
    width: 25%;
    height: auto;
    -webkit-animation-duration: 4.5s;

}

.icon-tags {
    width: 65px;
    height: 65px;
    padding: 0.4%;
    position: absolute;
    margin-left: -40px;
    opacity: 1;
    margin-top: -2%;
    border-radius: 10px;
    /*transform: rotate(315deg);*/
}

.icon-links {
    position: relative;
    margin-left: 10%;
}

.display > .row > a {
    color: #E0E0E0;
    font-weight: bold;
    font-family: Montserrat;

}

.display > .row > a:hover {
    color: #f0f0f0;

}

body {
    background-color: #607D8B;

}

.text-custom {
    color: #607D8B;
    font-family: Montserrat;
}

.text-custom2 {
    color: #E0E0E0;

    font-family: Montserrat;
}


